<div class="row" style="margin: 0px;">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus delectus beatae cupiditate fuga rerum magnam consequuntur nulla similique officiis aut tempora quibusdam possimus asperiores ab iste quis, corporis vitae.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus delectus beatae cupiditate fuga rerum magnam consequuntur nulla similique officiis aut tempora quibusdam possimus asperiores ab iste quis, corporis vitae.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus delectus beatae cupiditate fuga rerum magnam consequuntur nulla similique officiis aut tempora quibusdam possimus asperiores ab iste quis, corporis vitae.</p>
        </ul>
    </div>
</div>