img{
    height: 400px;
    border-radius: 100%;
    box-shadow: 3px 3px 10px #00023b;
    margin-top: 20px;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}
p{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: xx-large;
}