/* .header-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;

} */
.logo-redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* app-redes-sociales{
    float: right;
} */
app-banner{
    display: block;
}
div{
    background-color: rgba(205, 166, 241, 0.858);
    
}